*{
    margin: 0%;
    padding: 0%;
}

    
body {
        background: linear-gradient(to right, #00AAFF, #00FF6C);
    }


.display{
    background-color: black;
    color: white;
    height: 100px;
    width: 320px;
    padding: 5px;
}
#input{
    padding: 5px;
    text-align: end;
    margin-right: 2%;
    
}
#output{
    padding: 5px;
    text-align: end;
    margin-right: 2%;
    
}


.button{
    padding: 18px;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    font-size: larger;
    font-weight: 600;
}
.button:hover {
    background-color: rgba(255, 255, 255, .9);
}
.center{
    margin-top: 5%;
    text-align: start;
    margin-left: 37%;

}
#ac{
    width: 160px;
    margin-left: -2px;
   
}
#del{
    width: 80px;
}


#divide{
    width: 86px;
}
#two,#three,#five,#six,#eight,#nine,#dot{
    width: 80px;
    margin-left: -80px;
    
}
#one,#four,#seven,#zero{
    width: 80px;
    margin-left: -2px;
}
#equals{
    margin-left: -80px;
    width: 166px;
}
#x,#plus,#minus{
    width: 84px;
    margin-left: -86px;
    
    
}